{% extends 'dashboard/dashboard.html' %}

{% block content %}
<div class="p-5 bg-secondary text-light">
    <h1 class="display-4">Create Category</h1>
    <hr class="my-2">
    <div class="container">
        <form action="/dashboard/category/create" method="POST">
            {% csrf_token %}
            <div class="mb-3">
                <label for="name" class="form-label">Category Name:</label>
                <input type="text" class="form-control border border-2 border-dark" name="name">
            </div>
            <button type="submit" class="btn btn-success border border-2 border-dark text-white">Create</button>
        </form>
    </div>
</div>
{% endblock content %}